<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ base_name }}</title>
</head>
    <h3 align="center"><u>{{ base_name}}</u></h3>
    <h5 align="center">{{ base_tsul }}</h5>
    <h5 align="center">{{ base_student}}</h5>
    <h5 align="center">{{ base_time }}</h5>
    <h5 align="center">{{ base_title }}</h5>
    <b><a href="http://127.0.0.1:8000/">"Навигационная страница"</a>
<body>
    <h1>Это шаблон для функционального представления</h1>
</body>
</html>