<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ base_name}}</title>
</head>
<body>
<h2 align="center"><u>{{ base_name}}</u></h2>
    <h3 align="center">{{ base_tsul }}</h3>
    <h5 align="center">{{ base_student}}</h5>
    <h5 align="center">{{ base_time }}</h5>
    <h5 align="center">{{ base_title }}</h5>
    <b><a href="http://127.0.0.1:8000/">"Навигационная страница"</a>
    <h1>Это шаблон для классового представления</h1>
</body>
</html>
