<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ base_title }}</title>
</head>
<body>
    <h3 align="center"><u>{{ base_name}}</u></h3>
    <h5 align="center">{{ base_tsul }}</h5>
    <h5 align="center">{{ base_student}}</h5>
    <h5 align="center">{{ base_time }}</h5>
    <h1 align="center">{{ base_title }}</h1>
    <ul>
        <li><h2>Atomik Heart - <a href="http://127.0.0.1:8000/cart_/"><button>Купить</button></a></h2></li>
        <li><h2>Cyberpunk 2077 - <a href="http://127.0.0.1:8000/cart_/"><button>Купить</button></a></h2></li>
        <li><h2>PayDay 2 - <a href="http://127.0.0.1:8000/cart_/"><button>Купить</button></a></h2></li>
    </ul>
    <h2 align="center"><a href="http://127.0.0.1:8000/platform_/"><button>Вернуться обратно</button></a></h2>
</body>
</html>